[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "influence.SEM"]
	path = influence.SEM
	url = https://github.com/cran/influence.SEM
[submodule "overlapping"]
	path = overlapping
	url = https://github.com/masspastore/overlapping
[submodule "sgr"]
	path = sgr
	url = https://github.com/cran/sgr
